.heading {
    text-align: center;
    margin: buttom 20px;
    margin-top: 30px;
}

table.setcolhead,
.setcolhead td {
    padding: .0rem .0rem;
    border: hidden;
}

.control-label {
    margin-right: 20px;
}

.error {
    color: #FF0000;
}

.checkbox {
    width: 25px;
    height: 25px;
}

.page {
    width: 21cm;
    height: 29.7cm;
    background-color: white;
}

.mytable {
    --bs-table-border-color: var(--bs-border-width) solid var(--bs-border-color);
    border-color: var(--bs-table-border-color);
    border-width: 0 var(--bs-border-width);
    border-left: var(--bs-border-width) solid;
    border-right: var(--bs-border-width) solid;
}


/* Force PDF page breaks between rows, not mid-row */


/* .hg-pdf table tr {
    page-break-inside: avoid;
} */


/* @media print {
    footer {
        page-break-after: always;
    }
} */

.myform {
    padding: .116rem .75rem;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}