.heading {
    text-align: center;
    margin: buttom 20px;
    margin-top: 30px;
}

.control-label {
    margin-right: 20px;
}

.error {
    color: #FF0000;
}


/* 
body {
    background-color: powderblue;
} */


/* .table-striped {
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
} */